{% extends 'index.html' %}

{% block estilo %}
{% endblock %}

{% block contenido %}
    <h1>Lugares Cercanos</h1>
    <!-- Añadir la posibildad de dar de lata un lugar sino existe -->
    <div id="lugareselegido">
        <p>¿No existe el lugar buscado?...<a href="{% url principal.views.lugarnuevo %}">CRÉALO</a></p>
    </div>
    <div id="lugarescercanos">
        {% for item in datos %}
            <div id="lugarescercanos2">
                <p>{{ item.local }}</p>
                <p><a href='{% url principal.views.selecciondeLocal item.ref %}'>Seleccionar</a></p>
            </div>
        {% empty %}
            <p>No hay lugares cercanos.</p>
        {% endfor %}
        <div id="lugareselegido">
            {% if local %}
                <p>Local: {{ local }}</p>
                <p>Direccion: {{ direccion }}</p>
                <p>Teléfono: {{ telefono }}</p>
                <p>Pag. Web: <a href='{{ url }}'>Web</a></p>
                <form action="" method="POST">
                <input type="submit" value="Añadir Tapa" />
                </form>
            {% endif %}
        </divZ
    </div>
{% endblock %}
